/* https://mdbootstrap.com/img/new/fluid/city/008.jpg */

#intro {
    background-image: url('../images/alexander-mils-lCPhGxs7pww-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 92.9vh;
}

#introDiv{
    background-color: rgba(0, 0, 0, 0.8);
}
